# {$LICENSE_SITE_ADDRESS} is set from the .env file (see .env.example).
#
#  - A real domain (e.g. license.example.com) → Caddy provisions and renews a
#    Let's Encrypt certificate automatically and serves HTTPS on :443 (with a
#    :80 → :443 redirect). Requires DNS for the domain to point at this host
#    and ports 80+443 reachable from the internet.
#  - Left empty → falls back to the literal default below (":80"), i.e. plain
#    HTTP on port 80 for any host. Use this for quick testing, or when TLS is
#    terminated by something else in front of this box.
{$LICENSE_SITE_ADDRESS::80} {
	reverse_proxy server:8080
}
